

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper" style="background-color: rgb(155, 201, 236) ;">
      <div class="sidebar-heading bg-primary">BluMan </div>
      <img src="assets/images/logo.png" alt="" srcset="" style="width: 50%;margin-left: 20%;">
      <div class="list-group list-group-flush">  
        <a href="/accueil" class="list-group-item list-group-item-action "><span class="material-icons" style="color: rgb(0, 0, 255);margin-right: 2%;">home</span>Accueil</a>
        <a href="/admin" class="list-group-item list-group-item-action "><span class="material-icons" style="color: rgb(0, 0, 255);margin-right: 2%;">person</span>Admin</a>
        <a href="/parc" class="list-group-item list-group-item-action "><span class="material-icons" style="color: rgb(0, 0, 255);margin-right: 2%;">commute</span>Parc</a>
        <a href="/magasin" class="list-group-item list-group-item-action "><span class="material-icons" style="color: rgb(0, 0, 255);margin-right: 2%;">museum</span>Magasin</a>
        <a href="/driver" class="list-group-item list-group-item-action "><span class="material-icons" style="color: rgb(0, 0, 255);margin-right: 2%;">airline_seat_recline_normal</span>Chauffeur</a>
        <a href="/trajet" class="list-group-item list-group-item-action "><span class="material-icons" style="color: rgb(0, 0, 255);margin-right: 2%;">place</span>Trajet</a>
        <a href="/colis" class="list-group-item list-group-item-action"><span class="material-icons" style="color: rgb(0, 0, 255);margin-right: 2%;">widgets</span>Colis</a>
        <a href="/user" class="list-group-item list-group-item-action"><span class="material-icons" style="color: rgb(0, 0, 255);margin-right: 2%;">groups</span>Clients</a>
      </div>
    </div>

    <div id="page-content-wrapper" >

      <nav class="navbar navbar-expand-lg navbar-light bg-primary border-bottom">
        <button class="btn btn-light" id="menu-toggle" >Toggle Menu</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon"></span>
        </button>
        
      </nav>

      <div class="container-fluid">


        <div class = "row">
            <h2> Employee List</h2>
        </div>
        
        <table class = "table table-striped table-bordered">
            <thead>
                <tr>
                    <th> First Name</th>
                    <th> Last Name </th>
                    <th> Email Id</th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                <tr  >
                    <td> Tata</td>
                    <td> Diagouss </td>
                    <td> 74424229 </td>
                    <td style="display: flex;justify-content: space-around;">
                        <mat-icon>create</mat-icon>
                        <span class="material-icons" style="color: rgb(255, 0, 0);margin-left: 10px;">delete</span>
                        <span class="material-icons" style="color: rgb(0, 0, 255);">remove_red_eye</span>
                    </td>
                </tr>
            </tbody>
        </table>
       
        
      </div>
    </div>
   
  </div>


