<body>
  <img src="assets/images/logo.jpg" width="80%" height="20%" style="margin-left: 10%;" alt="">
    <details>
     

      <summary></summary>
      <nav class="menu" >
        <a href="/acceuil" class="list-group-item list-group-item-action "><span class="material-icons" style="color: rgb(0, 0, 255);">home</span>Accueil</a>
        <a href="/admin" class="list-group-item list-group-item-action "  *ngIf="user.profil == 'superadmin'"><span class="material-icons" style="color: rgb(0, 0, 255);">person</span>Admin</a>
        <a href="/driver" class="list-group-item list-group-item-action "><span class="material-icons" style="color: rgb(0, 0, 255);">airline_seat_recline_normal</span>Chauffeur</a>
        <a href="/parc" class="list-group-item list-group-item-action "><span class="material-icons" style="color: rgb(0, 0, 255);">commute</span>Parc</a>
        <a href="/magasin" class="list-group-item list-group-item-action "><span class="material-icons" style="color: rgb(0, 0, 255);">museum</span>Magasin</a>
        
        <a href="/trajet" class="list-group-item list-group-item-action "><span class="material-icons" style="color: rgb(0, 0, 255);">place</span>Trajet</a>
        <a href="/colis" class="list-group-item list-group-item-action"><span class="material-icons" style="color: rgb(0, 0, 255);">widgets</span>Colis</a>
        <!-- <a href="/user" class="list-group-item list-group-item-action"><span class="material-icons" style="color: rgb(0, 0, 255);">delete</span>Corbeille</a> -->
        <a  class="list-group-item list-group-item-action"(click)="logOut()"><span class="material-icons" style="color: rgb(0, 0, 255);" >logout</span>Deconnexion</a>

      </nav>
    </details>
  </body>
