
.sidebar {
 
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  justify-content: center;
  // margin-top: 9%;
  
}

div.content {

  margin-left: 25%;
  padding: 1px 16px;
  height: 100%;
}

#inputGroup-sizing-default{

    width: 10%;

} 

.btn btn-outline-secondary{

    width: 10%;

}