<div >
  <app-head style="position: fixed;width: 100%;z-index: 1;margin-left: 25%;height: 20%;"></app-head>
</div>


<div class="sidebar">
  
 <app-menu></app-menu>

 
</div>


<div class="content">
  <div class="container-fluid">
    <div class="card" style="height: 5%;margin-top:-15%;">
      <div class="card-body">
      
      </div>
    </div><br><br><br>
    
    <div style="margin-top: 20%;">
      
      
        <!-- <button class="btn" (click)="dialog()"><mat-icon>person_add</mat-icon></button> -->
      
      <div>
        <section>
          <h1 class="text-shadow"> ADMINS </h1>
            
        </section>
        <button class="btn" (click)="dialog()"><mat-icon>person_add</mat-icon></button><br>
      </div>
        
        <div class="form-outline">
          <input type="search" id="form1" class="form-control" placeholder="Search/ " aria-label="Search" />
        </div><br>
        <div class="row">
            <div class="col-sm-3" *ngFor="let admin of administrateurs" >
              <div class="card" >
              
                <img src="assets/images/images.jpg" alt="" srcset="" style="height: 40%;width:80% ;margin-left: 10%;margin-top: 20%;" *ngIf="admin.genre == 'M'">
                <img src="assets/images/adminM.png" alt="" srcset="" style="height: 40%;width:80% ;margin-left: 10%;margin-top: 20%;" *ngIfElse="admin.genre == 'F'">

                <div class="card-body">
                  <div style="text-align: center; height: 30%;">
                    <h1 class="card-title" style="color: rgb(216, 152, 4);font-size: large;">{{admin.profil}}</h1>

                    <h5 class="card-title">{{admin.telephone}}</h5>

                    <h5>{{admin.nom}} {{admin.prenom}}</h5>
                      
                  </div> <br><br><br>
                  
                  <div style="display: flex;justify-content:space-between;height: 10%;margin-bottom: 5%;">
                    <mat-icon (click)="AdminById(admin.id)">create</mat-icon>
                    <span class="material-icons" style="color: rgb(255, 0, 0);" (click)="onConfirm(admin.id)">delete</span>
                    <!-- <span class="material-icons" style="color: rgb(0, 0, 255);">remove_red_eye</span> -->
                  </div><br>
                
                </div>
              </div>
            </div>
          
        </div>

    </div>
  </div>
  
</div>


