<body>
  <div class="card" style="margin: 2% 2%;">
    <button class="btn"><mat-icon (click)="close()">cancel</mat-icon></button>
    <div class="card-header" style="background-color:rgb(238, 240, 241) ;text-align: center;">
     Voulez-vous modifier ce parc?
    </div>
    <div class="card-body">
      
      <form   #datas="ngForm" (ngSubmit)="ModifParc(datas)" autocomplete="off">


        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default" >Nom</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="nom" ngModel [(ngModel)]="parc.nom" #nom="ngModel" pattern=".{2,20}">
        </div>
        <div style="font-size: 10px;margin-top: 10px; color: rgb(247, 12, 12);" [hidden]="nom.valid ||nom.pristine" class="alert alert-danger">
          Respecter le Format svp : min 2 caracteres max 20
        </div>


        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Plaque</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="numplaque" ngModel [(ngModel)]="parc.numplaque" #numplaque="ngModel" pattern=".{6,10}">
        </div>
        <div style="font-size: 10px;margin-top: 10px; color: rgb(247, 12, 12);" [hidden]="numplaque.valid ||numplaque.pristine" class="alert alert-danger">
          Respecter le Format svp : min 6 caracteres max 10
        </div>


        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
          <input type="tel" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="description" ngModel [(ngModel)]="parc.description" #description="ngModel" pattern=".{10,255}">
        </div>
        <div style="font-size: 10px;margin-top: 10px; color: rgb(247, 12, 12);" [hidden]="description.valid ||description.pristine" class="alert alert-danger">
          Respecter le Format svp : min 10 caracteres max 255
        </div>


        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-secondary" type="submit" >MODIFIER</button>
         
        </div>

      </form>
    </div>
  </div>




    
</body>









