<body>
    <div class="card" style="margin: 2% 2%;">
      <mat-icon (click)="close()">cancel</mat-icon>
      <div class="card-header" style="background-color:rgb(238, 240, 241) ;text-align: center;">
       Voulez-vous ajouer un administrateur?
      </div>
      <div class="card-body">
        <!-- #dataAdmin="ngForm" (ngSubmit)="AjoutAdmin(dataAdmin)" -->
        <form   #datas="ngForm" (ngSubmit)="ModifAdmin(datas)" autocomplete="off">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default" >Nom</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="nom" ngModel [(ngModel)]="admin.nom">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Prenom</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="prenom" ngModel [(ngModel)]="admin.prenom">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Tel</span>
            <input type="tel" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="telephone" ngModel [(ngModel)]="admin.telephone">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Date Naissance</span>
            <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="dateNaissance" ngModel [(ngModel)]="admin.dateNaissance">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Adresse</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="adresse" ngModel [(ngModel)]="admin.adresse">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Login</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="login" ngModel [(ngModel)]="admin.login">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Mot de pass</span>
            <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="password" ngModel [(ngModel)]="admin.password">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Profil</span>
  
            <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon" name="profil" ngModel [(ngModel)]="admin.profil">
              <option selected value="">Choose...</option>
              <option value="admin">admin</option>
              <option value="superadmin">superadmin</option>
              
            </select>
          </div>
          
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Genre</span>
            <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon" name="genre" ngModel [(ngModel)]="admin.genre">
              <option selected value="">Choose...</option>
              <option value="M">M</option>
              <option value="F">F</option>
              
            </select>
          </div>
  
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-secondary" type="submit" >MODIFIER</button>
           
          </div>
  
        </form>
      </div>
    </div>
  
  
  
  
      
  </body>

  



  
