<div >
  <app-head style="position: fixed;width: 100%;z-index: 1;margin-left: 25%;height: 20%;"></app-head>
</div> 


<div class="sidebar">
  
 <app-menu></app-menu>

 
</div>


<div class="content">
  <div class="container-fluid"><br><br>
    <div class="card" style="height: 5%;margin-top:-5%;margin-left: 10%;">
      <div class="card-body">
      
      </div>
    </div><br><br><br><br>

    
          
          
    <section>
      <h1 class="text-shadow">TRAJET</h1>
        
    </section><br>

    <div style="display: flex;justify-content: space-around;">

      <button class="btn" (click)="dialog()">

        
        <mat-icon>add</mat-icon>
      
      
      </button>
      <button class="btn" (click)="dialog2()" style="float: right;">

        <a style="float: right;background-color: white;font-style:italic ;font-size: small;">Trajet En  Cours</a>

      </button>

    </div>

    <div class="form-outline">
      <input type="search" id="form1" class="form-control" placeholder="Search/ " aria-label="Search" />
    </div><br>

    <table>
      <thead >
        <tr>
          <th scope="col">Code</th>
          <th scope="col">Depart</th>
          <th scope="col">Arrivee</th>
          <th scope="col">HeureD</th>
          <th scope="col">Parc</th>
          <th scope="col">Chauffeur</th>
          <th scope="col">Date</th>
          <th scope="col">Actions</th>
            
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of trajet">
          <td data-label="Code"> {{t.code}} </td>
          <td data-label="Depart"> {{t.depart}} </td>
          <td data-label="Arrivee"> {{t.arrivee}} </td>
          <td data-label="HeureD">{{t.heureDep}}H{{t.minuteDep}} </td>
          <td data-label="Parc"> {{t.parc.numplaque}} </td>
          <td data-label="Chauffeur"> {{t.utilisateur.nom}} </td>
          <td data-label="Date"> {{t.date}} </td>
          <td  style="display: flex;justify-content: space-around;">
            <!-- <mat-icon >create</mat-icon> -->
            <span class="material-icons" style="color: rgb(255, 0, 0);margin-left: 10px;" (click)="onConfirm(t.idTrajet)">delete</span>
              
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
    
  
   
  



